---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Resources | St. Agnes of Assisi Fraternity">
  <section class="hero">
    <h1>Resources</h1>
    <p>
      Helpful links to learn more about the Secular Franciscan Order and our
      local community.
    </p>
  </section>

  <section class="card" style="margin-top: 2rem;">
    <h2 class="section-title">Starter Links</h2>
    <ul class="list">
      <li>
        <a href="https://ciofs.info/" target="_blank" rel="noreferrer">
          International Council of the OFS
        </a>
      </li>
      <li>
        <a href="https://www.secularfranciscansusa.org/" target="_blank" rel="noreferrer">
          Secular Franciscan Order - USA
        </a>
      </li>
      <li>
        <a href="https://www.taucrossregion.org/" target="_blank" rel="noreferrer">
          Tau Cross Region
        </a>
      </li>
      <li>
        <a href="https://www.ollchurch.org/" target="_blank" rel="noreferrer">
          Our Lady of Lourdes Parish
        </a>
      </li>
      <li>
        <a
          href="https://www.secularfranciscansusa.org/process-for-becoming-a-secular-franciscan/"
          target="_blank"
          rel="noreferrer"
        >
          Secular Order Vocations
        </a>
      </li>
    </ul>
  </section>
</BaseLayout>
